@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

@layer components {
  .main-layout {
    @apply mt-32 mb-10 w-[70%] md:w-[60%] max-sm:w-[80%] m-auto;
  }

  .responsive-h1 {
    @apply text-h5 font-bold sm:text-h4 lg:text-h4;
  }

  .container {
    @apply h-screen flex justify-center items-center;
  }
}

.btn::after {
  content: "";
  background-color: #2b3467;
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: -14px;
  left: 0;
  opacity: 0;
}

.btn:focus::after {
  opacity: 1;
}

/*  after:content-['']
            after:bg-fontBlue
            after:absolute 
            after:h-[3px] 
            after:w-full
            after:bottom-[-14px] 
            after:left-0 */
